/***
Assignment Requirement:
IMAGE ATTRIBUTION:

Markus Spiske - https://500px.com/markusspiske

Yinan Chen - https://500px.com/webmaster85

Fahim Akhter - https://500px.com/fahimakhter

***/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    height: 100%;
    background: whitesmoke;
}

.wrapper {
    box-sizing: border-box;
    margin: 50px 45px 0px 75px;
    height: 100%;
    height: 500px;
}

h1 {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 2.6rem;
    color: black;
    margin: 0;
}

h2 {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: darkgrey;
    margin: 0;
}

header {
    background: white;
    line-height: 1.75;
    box-shadow: 2px 0px 5px lightgrey;
    padding: 50px 75px 30px 75px;
}

.img-container {
    position:relative;
    max-width: 90%; /*Assignment requirement*/
    box-shadow: 0 1px 2px grey;
    border-radius: 2px;
    box-sizing: border-box;
    transition: transform 0.15s ease; /*Assignment requirement*/
    overflow: hidden;
}

ul {
    list-style: none;
    max-width: 1200px;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    width:25%;
}

.label {
    position: absolute;
    margin:0;
    bottom:0;
    width:100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    padding:8px 0 8px 0;
    text-align: center;
    color: white;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    text-shadow: 1px 1px black;
    z-index: 1;
    transition: all 0.25s ease; 
    transform: translateY(100%); 
    opacity: 0;
}

.img-container:hover .label{
    opacity: 1;
    transform: translateY(0); 
}

.image {
    width: 100%;
    height:auto;
    display: block;
    transition: transform 0.3s ease-out; /*Assignment requirement*/
}

.img-container:hover{
    transform: scale(1.1); /*Assignment requirement*/
}

.img-container:hover .image{
    transform: scale(1.1); /*Assignment requirement*/
}

/* Phone Screen Media Query */

@media screen and (max-width: 600px) {
    li {
        width:100%;
        margin-bottom: 20px;
    }
    .wrapper {
        margin: 50px 20px 0px 20px;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        font-weight: 300;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    header {
        padding: 40px 40px 30px 40px;
    }
    .label {
        opacity: 1;
        transition: none;
        transform: none;
        font-size:1em;
    }
    .img-container:hover{
        transform: none;
    }
    .img-container:hover .image{
        transform: none;
    }
    
    footer{
        padding-top:50px;
        padding-bottom:20px;
    }
}

/* Tablet/Low-res Screen Media Query */

@media screen and (min-width: 601px) and (max-width: 1199px) {
    li {
        width: 50%;
        margin-bottom: 20px;
    }
    .wrapper {
        margin: 50px 25px 0px 50px;
    }
    .label {
        opacity: 1;
        transition: none;
        transform: none;
        font-size:1em;
    }
    .img-container:hover{
        transform: none;
    }
    .img-container:hover .image{
        transform: none;
    }
    
    footer{
        padding-top:50px;
        padding-bottom:20px;
    }
    header{
        padding: 50px 40px 30px 50px;
    }
}

/* Desktop Screen Media Query */

@media screen and (min-width: 1200px) {
    li {
        width: 25%;
        margin-bottom: 20px;
    }
    .wrapper {
        margin: 50px 45px 0px 75px;
    }
    .label{
        font-size:0.7em;
    }
    header{
        padding: 50px 75px 30px 75px;
    }
}
